/* Main SCSS
================================================== */
/* Variables
================================================== */
/* CSS RESET
==================================================
================================================== */
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* HTML5 - Older browser support
================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* BODY
================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
================================================== */
ol, ul {
  list-style: none; }

/* QUOTES
================================================== */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* TABLES
================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Base
================================================== */
body {
  font-size: 1.5rem; }

header {
  height: 22vh;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  header .hero-text {
    line-height: 5rem; }
    header .hero-text h1 {
      font-size: 4rem; }
    header .hero-text p {
      font-size: 2rem; }

strong {
  font-weight: bold; }

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 8vh; }
  ul li {
    padding: 2rem;
    font-size: 1.5rem; }

a {
  color: #29212A;
  text-decoration: none; }
  a:hover + .active {
    color: #00C23C;
    opacity: 1;
    text-decoration: none;
    border-bottom: solid #00C23C; }

.active {
  color: #00C23C;
  opacity: 1;
  text-decoration: none;
  border-bottom: solid #00C23C; }

.nav {
  background-color: white;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 8vh;
  background-color: #29212A; }
  footer h5, footer a {
    color: white;
    font-size: 1.5rem;
    padding: 1rem; }

/* Typography
================================================== */
html {
  font-family: "PT Sans", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
  color: #29212A; }

/* Form
================================================== */
.recipe-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url("/assets/yum.jpg") 100% no-repeat;
  background-size: cover;
  height: 70vh; }

.form {
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
  .form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .form button {
    text-transform: uppercase;
    font-weight: bold;
    opacity: .6;
    background: #29212A;
    width: 100%;
    border: 0;
    padding: 15px;
    color: white;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease; }
  .form .stars {
    color: #bdbbbe;
    margin: 0 0 15px;
    padding: 10px; }

.form button:hover {
  background: #00C23C;
  opacity: 1; }

.fa-trash {
  color: #bdbbbe; }

.fa-trash:hover {
  color: #c21807;
  opacity: 1;
  text-decoration: none; }

.fa-star:hover {
  color: #FED601; }

/* Cards
================================================== */
#recipeCards {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem; }
  #recipeCards article {
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 360px;
    height: auto;
    margin: 3rem 1.5rem; }
  #recipeCards .food-img {
    width: 100%;
    height: 45%; }
  #recipeCards .food-text {
    text-transform: capitalize; }
    #recipeCards .food-text .description {
      height: 125px;
      overflow: hidden; }
    #recipeCards .food-text h4, #recipeCards .food-text p {
      margin: 1.5rem 3rem;
      line-height: 2rem; }
    #recipeCards .food-text h4 {
      font-size: 2rem;
      font-weight: bold;
      border-bottom: 5px solid #00C23C;
      padding-bottom: 1rem;
      height: 50px; }

.checked {
  color: #FED601;
  opacity: 1; }
