/* Base
================================================== */

.App {
  text-align: center;
}

.Main-div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75vw;
}

.container {
  display: flex;
}
