/* Variables
================================================== */

$black: #29212A;
$grey: #F2F2F2;
$light: #BDBBBE;
$green: #00C23C;
$yellow: #FED601;
$red: #C21807;

$font-stack-ptsans: 'PT Sans', sans-serif;
$font-stack-ptcaption: 'PT Sans Caption', sans-serif;


$font-size: 62.5%;
