/* Variables
================================================== */

$dark-green: #4d934b;
$green: #a2d169;
$light-grey: #f4f4f4;
$dark-grey: #a9a9a9;
$red: #c71f16;

$font-stack-ptsans: 'PT Sans', sans-serif;
$font-stack-ptcaption: 'PT Sans Caption', sans-serif;


$font-size: 62.5%;
