/* Variables
================================================== */

$black: #29212A;
$grey: #f2f2f2;
$light: #bdbbbe;
$green: #00C23C;
$yellow: #FED601;
$red: #c21807;

$font-stack-ptsans: 'PT Sans', sans-serif;
$font-stack-ptcaption: 'PT Sans Caption', sans-serif;


$font-size: 62.5%;
