/* Variables
================================================== */

$black: #29212A;
$grey: #f2f2f2;
$green: #00C23C;

$font-stack-ptsans: 'PT Sans', sans-serif;
$font-stack-ptcaption: 'PT Sans Caption', sans-serif;


$font-size: 62.5%;
